@model AppProjectCore.Models.Categoria

@{
    ViewData["Title"] = "Editar Categoria";
}

<br />
<br />
<h3 class="text-center">Editar categoría</h3>
<form method="post" asp-action="Update">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 mt-4">
            <div class="form-group row">
                <div class="col-7">
                    <label class="col-4">
                        <label asp-for="Nombre"></label>
                    </label>
                </div>
                <div class="col-7">
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-7">
                    <label class="col-4">
                        <label asp-for="Orden"></label>
                    </label>
                </div>
                <div class="col-7">
                    <input asp-for="Orden" class="form-control" />
                    <span asp-validation-for="Orden" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2 ali mt-4">
                    <button type="submit" class="btn btn-secondary form-control" asp-route-id="@Model.Id">Actualizar</button>
                </div>
                <div class="col-2 mt-4">
                    <a asp-action="Index" class="btn btn-success form-control">Volver</a>
                </div>
            </div>

        </div>
    </div>
</form>
