@model AppProjectCore.Models.ViewModels.ArticuloVM

@{
    ViewData["Title"] = "Crear Articulo";
}

<br />
<br />
<h3 class="text-center">Crear un nuevo Artículo</h3>
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 mt-4">

            <div class="form-group row">
                <div class="col-3">
                    <label class="col-7">
                        <label asp-for="Articulo.Nombre"></label>
                    </label>
                </div>
                <div class="col-7">
                    <input asp-for="Articulo.Nombre" class="form-control" />
                    <span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-3">
                    <label class="col-7">
                        <label asp-for="Articulo.Descripcion"></label>
                    </label>
                </div>
                <div class="col-7">
                    <textarea asp-for="Articulo.Descripcion" class="form-control" style="height:200px"></textarea>
                    <span asp-validation-for="Articulo.Descripcion" class="text-danger"></span>
                    
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-3">
                    <label class="col-7">
                        <label for="Categoria">Categoría</label>
                    </label>
                </div>
                <div class="col-7">
                    @Html.DropDownListFor(m => m.Articulo.CategoriaId, Model.ListaCategorias,
                    "-- Por favor ingrese un Categoría --",new {@class = "form-control"})
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-3">
                    <label class="col-7">
                        <label asp-for="Articulo.UrlImage"></label>
                    </label>
                </div>
                <div class="col-7">
                    <input type="file" name="archivos" id="subidaArchivo" multiple class="form-control"/>
                    <span asp-validation-for="Articulo.UrlImage" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-3">
                    <label class="col-7">
                        <label asp-for="Articulo.Costo"></label>
                    </label>
                </div>
                <div class="col-7">
                    <input asp-for="Articulo.Costo" class="form-control" />
                    <span asp-validation-for="Articulo.Costo" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="col-8 mt-4">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="https://cdn.tiny.cloud/1/i6gtena4fh2m5ainibobj7zuj96erii3l0r4z40e4wj3fvq7/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
           selector: "textarea",
           plugins: "lists",
           menubar: "file edit format"
        });
    </script>
}
